<% if @recent_membership_purchase %>
  <div class="alert alert-success" role="alert">
    Your IUF registration is now finished. If you were in the process of registering to a unicycle convention (Unicon or another one), please, go back to your convention registration and click the "Recheck IUF Status" button.
  </div>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Member</h1>
    <ul>
      <li><b>First Name: </b><%= @member.first_name %></li>
      <li><b>Last Name: </b><%= @member.last_name %></li>
      <li><b>Birthdate: </b><%= @member.birthdate.to_fs(:long) %></li>
      <li><b>Contact Email: </b><%= @member.contact_email %></li>
    </ul>
    <% if policy(@member).edit? %>
      <%= link_to "Edit", edit_member_path(@member), class: "btn btn-primary btn-large" %>
    <% end %>
  </div>
</div>

<% if @member.active? %>
  <div class="alert alert-info">
    <b>Active IUF Member</b>
    <br>
    Your membership expires <%= @member.expiration_date.to_date %>
    <br>
    <b>Note:</b> If you've been sent here but your membership is currently active, this is probably because your membership will expire before the end of the upcoming UNICON. Please purchase a new membership to continue.
    <br>
    Using Paypal below, pay for your membership now.
  </div>
<% else %>
  <div class="alert alert-danger">
    <b>Unpaid Member</b>
    Using Paypal below, pay for your membership now.
    <br>
    The price of IUF membership is <%= Rails.configuration.membership_cost %> <%= Rails.configuration.currency %>
  </div>
<% end %>

<div class="container">
  <%= render "payment_form", member: @member %>
</div>

<hr>
<% if @member.payments.any? %>
  <h2>Payments:</h2>
  <ul>
    <% @member.payments.each do |payment| %>
      <li>Invoice Number <%= payment.id %> (received: <%= payment.created_at.to_date %>, start_date: <%= payment.start_date.to_date %>, expires_at: <%= payment.expiration_date.to_date %></li>
    <% end %>
  </ul>
<% end %>
