<div class="jumbotron">
  <div class="container">
    <h1>Member</h1>
    <ul>
      <li><b>First Name: </b><%= @member.first_name %></li>
      <li><b>Last Name: </b><%= @member.last_name %></li>
      <li><b>Birthdate: </b><%= @member.birthdate %></li>
      <li><b>Contact Email: </b><%= @member.contact_email %></li>
    </ul>
    <% if policy(@member).edit? %>
      <%= link_to "Edit", edit_member_path(@member), class: "btn btn-primary btn-large" %>
    <% end %>
  </div>
</div>
<div class="container">
  <% if @member.payments.any? %>
    <h2>Payments:</h2>
    <ul>
      <% @member.payments.each do |payment| %>
        <li><%= payment.id %></li>
      <% end %>
    </ul>
  <% else %>
    <%= render "payment_form", member: @member %>
  <% end %>
</div>
