<% if @recent_membership_purchase %>
  <div class="alert alert-success" role="alert">
    Your IUF registration is now finished. If you were in the process of registering to a unicycle convention (Unicon or another one), please, go back to your convention registration and click the "Recheck IUF Status" button.
  </div>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Member</h1>
    <ul>
      <li><b>First Name: </b><%= @member.first_name %></li>
      <li><b>Last Name: </b><%= @member.last_name %></li>
      <li><b>Birthdate: </b><%= @member.birthdate.to_s(:long) %></li>
      <li><b>Contact Email: </b><%= @member.contact_email %></li>
    </ul>
    <% if policy(@member).edit? %>
      <%= link_to "Edit", edit_member_path(@member), class: "btn btn-primary btn-large" %>
    <% end %>
  </div>
</div>
<% if @member.active? %>
  <div class="alert alert-info">
    <b>Active IUF Member for Unicon 2020</b>
  </div>
  <% if @member.payments.any? %>
    <h2>Payments:</h2>
    <ul>
      <% @member.payments.each do |payment| %>
        <li>Invoice Number <%= payment.id %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <div class="alert alert-danger">
    <b>Unpaid Member</b>
    Using Paypal below, pay for your membership now.
  </div>
  <div class="container">
    <%= render "payment_form", member: @member %>
  </div>
<% end %>
